--extra-index-url https://pytorch-extension.intel.com/release-whl/stable/xpu/us/
torch==2.5.1
oneccl_bind_pt==2.3.100+xpu
intel-extension-for-pytorch==2.5.10+xpu
https://github.com/intel/intel-xpu-backend-for-triton/releases/download/v2.1.0/triton-2.1.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
